VITE_SUPABASE_URL=https://nfbwjhjfxejhagguqihe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5mYndqaGpmeGVqaGFnZ3VxaWhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzODQ3ODAsImV4cCI6MjA5NDk2MDc4MH0.N5gFbn3Rw3RW5gA7ciQy3EnMtxxjuHgZubzauSEfvxg
